<div class="search-top">

  <h6>Transfers log</h6>

  <form>
    <div class="form-row">
      <div class="col-lg-2 mb-3">
        <label for="Username">Username</label>
        <input [(ngModel)]="username" name="Username" type="text" class="form-control" id="Username"
               placeholder="Username" required (change)="search()">
      </div>

      <div class="col-lg-2 mb-3">
        <label for="TerminalID">Terminal ID</label>
        <input [(ngModel)]="terminalId" name="terminalId" type="text" class="form-control" id="TerminalID" placeholder="Terminal ID" required (change)="search()">
      </div>

      <div class="col-lg-2 mb-3">
        <label for="status">Status</label>
        <select [(ngModel)]="status" name="status" class="form-control" id="status" (change)="search()">
          <option></option>
          <option *ngFor="let status of statuses">{{status.status}}</option>
          
        </select>
      </div>

      <div class="col-lg-2 mb-3">
        <label for="bulkname">Bank name</label>
        <select [(ngModel)]="bankName" name="bankName" class="form-control" id="bulkname" (change)="search()">
          <option></option>
          <option *ngFor="let bank of banks">{{bank.bankName}}</option>
          
        </select>
      </div>


      <div class="col-lg-2 mb-3">
        <label for="from">Deposit Date</label>
        <input [(ngModel)]="fromDate" name="fromDate" type="date" name="form" id="from" class="form-control" (change)="search()"/>
      </div>


      <div class="col-lg-2 mb-3" *ngIf="!displayDate">
        <label for="creationDate">Creation Date</label>
        <input [(ngModel)]="creationDate" name="creationDate" type="date" name="creationDate" id="creationDate"
               class="form-control" (change)="checkDates()"/>
      </div>

      <div class="col-lg-2 mb-3" *ngIf="displayDate">
        <label for="cretionRange">Creation Date</label>
        <select [(ngModel)]="sessionId" name="cretionRange" class="form-control" id="cretionRange" (change)="search()">
          <option *ngFor="let date of dateRange" value="{{date.sessionId}}">{{date.creationDate}}</option>
        </select>
      </div>


    </div>

  </form>
</div>
