<div class="search-top">

  <h6>Transfers log</h6>

  <form>
    <div class="form-row">
      <div class="col-lg-2 mb-3">
        <label for="SessionID">Session ID</label>
        <input type="text" class="form-control" id="SessionID" placeholder="Session ID" required>
      </div>

      <div class="col-lg-2 mb-3">
        <label for="TerminalID">Terminal ID</label>
        <input type="text" class="form-control" id="TerminalID" placeholder="Terminal ID" required>
      </div>

      <div class="col-lg-2 mb-3">
        <label for="status">Status</label>
        <select class="form-control" id="status">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="col-lg-2 mb-3">
        <label for="bulkname">Bulk name</label>
        <select class="form-control" id="bulkname">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>


      <div class="col-lg-2 mb-3">
        <label for="bulkname">Bulk name</label>
        <input type="date" class="form-control"/>
      </div>

      <div class="col-lg-1 mb-3">
        <button type="submit" class="btn btn-primary btn-search">Search</button>
      </div>

      <div class="col-lg-1 mb-3">
        <button type="button" class="btn btn-dark btn-search">Export</button>
      </div>


    </div>

  </form>
</div>
