<div class="jumbotron vertical-center">

    <p>Bulk Transfers</p>
    <div class="form-group">
      <label for="terminalID">Terminal ID</label>
      <input type="text" class="form-control" id="terminalID" placeholder="Terminal ID" disabled value="{{TerminalID}}">
    </div>

  <div class="custom-file">
    <input type="file" name="file" class="custom-file-input" id="validatedCustomFile" ng2FileSelect
           (click)="uploader.clearQueue()" [uploader]="uploader">
    <label class="custom-file-label" for="validatedCustomFile">{{fileChooser}}</label>
  </div>


  <!--<input type="file" name="file" ng2FileSelect [uploader]="uploader" />-->

  <button type="button" class="btn btn-success btn-s"
          (click)="upload()"
          [disabled]="!uploader.getNotUploadedItems().length">
    Upload File
  </button>

  <p></p>


  <table class="table">
    <thead>
    <tr>
      <th width="50%">Name</th>
      <th>Status</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of uploader.queue">
      <td><strong>{{ item?.file?.name }}</strong></td>
      <td class="text-center">
        <span *ngIf="item.isSuccess"><i class="fas fa-check-circle"></i> Uploaded</span>
        <span *ngIf="item.isCancel"><i class="fas fa-ban"></i> Cancel</span>
        <span *ngIf="item.isError"><i class="fas fa-minus-circle"></i> Error</span>
        <span *ngIf="item.isUploading"><i class="fas fa-spinner"></i> Proccessing</span>
      </td>
    </tr>
    </tbody>
  </table>

  <div>
    <div>
      Queue progress:
      <div class="progress" style="">
        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
      </div>
    </div>


  </div>
  <br>
  <div *ngIf="uploadError" class="alert alert-danger" role="alert">
    {{errorMessage}}<br/>
  </div>

  <div *ngIf="uploadSuccess">
    <button type="button" class="btn btn-success btn-s" routerLink="/summary">Summary</button>
  </div>

</div>
