<div class="table-responsive">
  <table class="table  table-hover ">
    <thead>
    <tr>
      <th scope="col">user</th>
      <th scope="col">Bank</th>
      <th scope="col">Terminal ID</th>
      <th scope="col">Amount</th>
      <!-- <th scope="col">Deposit Amount</th> -->
      <th scope="col">Deposit Date</th>
      <th scope="col">Session</th>
      <th scope="col">Status</th>
      <th scope="col">Rejection Reason</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let log of searchService.logsDTO | paginate: { itemsPerPage: 9, currentPage: page }">
      <td>{{log.userName}}</td>
      <td>{{log.bankName}}</td>
      <td>{{log.terminalId}}</td>
      <td>{{log.transferAmount}}</td>
      <!-- <td>{{log.DepositAmount}}</td> -->
      <td>{{log.depositDate | date}}</td>
      <td>{{log.creationDate | date}}</td>
      <td>{{log.status}}</td>
      <td>{{log.rejectionReason}}</td>
    </tr>

    </tbody>
  </table>

  <footer class="footer">
    <div class="container">
      <div class="float-right">
        <span [ngClass]="{'text-muted pointer' : !searchService.isempty() ,'deactive':searchService.isempty() }"
              (click)="clear()"> <i class="fas fa-trash"></i> Clear</span>  |
        <span [ngClass]="{'text-muted pointer' : !searchService.isempty() ,'deactive':searchService.isempty() }"
              (click)="exportAsXLSX()"> <i class="fas fa-file-export"></i> Export</span>
      </div>

      <pagination-controls class="text-muted pointer" (pageChange)="page = $event"></pagination-controls>
    </div>
  </footer>

</div>
