<div class="table-responsive">
  <table class="table  table-hover ">
    <thead>
    <tr>
      <th scope="col">Session ID</th>
      <th scope="col">Bank Name</th>
      <th scope="col">Terminal ID</th>
      <th scope="col">Transfer Amount</th>
      <th scope="col">Deposit Amount</th>
      <th scope="col">Deposit Date</th>
      <th scope="col">Status</th>
      <th scope="col">Rejection Reason</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let log of transferlog ">
      <td scope="row">{{log.SessionID}}</td>
      <td>{{log.BankName}}</td>
      <td>{{log.TerminalID}}</td>
      <td>{{log.TransferAmount}}</td>
      <td>{{log.DepositAmount}}</td>
      <td>{{log.DepositDate}}</td>
      <td>{{log.Status}}</td>
      <td>{{log.RejectionReason}}</td>
    </tr>

    </tbody>
  </table>

  <footer class="footer">
    <div class="container">
      <span class="text-muted pointer"> <i class="fas fa-trash"></i> Clear</span> |
      <span class="text-muted pointer"> <i class="fas fa-file-export"></i> Export</span> |
      <span class="text-muted pointer"> <i class="fas fa-arrow-left"></i> previous</span> |
      <span class="text-muted pointer"> Next <i class="fas fa-arrow-right"></i></span>


    </div>
  </footer>

</div>
