<div class="table-responsive">
  <table class="table  table-hover ">
    <thead>
    <tr>
      <th scope="col">Session ID</th>
      <th scope="col">Bank Name</th>
      <th scope="col">Terminal ID</th>
      <th scope="col">Transfer Amount</th>
      <th scope="col">Deposit Amount</th>
      <th scope="col">Deposit Date</th>
      <th scope="col">Status</th>
      <th scope="col">Rejection Reason</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>CIB</td>
      <td>123</td>
      <td>12345</td>
      <td>12345</td>
      <td>12/11/2019</td>
      <td>Faild</td>
      <td>Mjagy Keda</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>CIB</td>
      <td>123</td>
      <td>12345</td>
      <td>12345</td>
      <td>12/11/2019</td>
      <td>Faild</td>
      <td>Mjagy Keda</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>CIB</td>
      <td>123</td>
      <td>12345</td>
      <td>12345</td>
      <td>12/11/2019</td>
      <td>Faild</td>
      <td>Mjagy Keda</td>
    </tr>


    </tbody>
  </table>

  <footer class="footer">
    <div class="container">
      <span class="text-muted pointer"> <i class="fas fa-trash"></i> Clear</span> |
      <span class="text-muted pointer"> <i class="fas fa-file-export"></i> Export</span> |
      <span class="text-muted pointer"> <i class="fas fa-arrow-left"></i> previous</span> |
      <span class="text-muted pointer"> <i class="fas fa-arrow-right"></i> Next</span>


    </div>
  </footer>

</div>
