<nav id="sidebar" xmlns="http://www.w3.org/1999/html">
  <div class="sidebar-header">
    <img src="assets/img/logo.png" alt="AMAN">
  </div>
  <div class="sidebar-title">
    <p style="padding-left: 54px;">Recharge Tool</p>
  </div>

  <ul *ngIf="isLogin" class="list-unstyled components">


    <li routerLink="transfer" routerLinkActive="active">
      <a>Bulk Transfers</a>
    </li>
    <li routerLink="log" routerLinkActive="active">
      <a>View Log</a>
    </li>

  </ul>

  <ul class="list-unstyled buttons">
    <li>
      <a *ngIf="isLogin" routerLink="change-password" class="btn-bleu">Change Password</a>
    </li>
    <li>
      <a *ngIf="isLogin" routerLink="change-terminal" class="btn-bleu">Change Terminal</a>
    </li>
    <li>
      <a *ngIf="isLogin" routerLink="logout" class="btn-white">Logout</a>
    </li>

    <!--<li>-->
      <!--<a *ngIf="!isLogin" routerLink="login" class="btn-white">Login</a>-->
    <!--</li>-->

  </ul>
</nav>
