<div class="jumbotron vertical-center">
  <form>
    <p>Change Password</p>
    <div *ngIf="changed==1" class="alert alert-success" role="alert">
       You change password successfully
    </div>

    <div *ngIf="changed==-1" class="alert alert-danger" role="alert">
      <strong>Sorry!</strong> Can't Change your password ... try submitting again.
    </div>
    <div *ngIf="changed==-2" class="alert alert-danger" role="alert">
      <strong>Sorry!</strong> new password not match confirm password.
    </div>


    <div class="form-group">
      <label for="New Password">New Password</label>
      <input [(ngModel)]="newPassword" name="New Password" type="password" class="form-control" id="New Password" placeholder="New Password">
    </div>
    <div class="form-group">
      <label for="Confirm Password">Confirm Password</label>
      <input [(ngModel)]="confirmPassword" name="Confirm Password" type="password" class="form-control" id="Confirm Password" placeholder="Confirm Password">
    </div>
    <button (click)="change()" type="submit" class="btn btn-primary">Change</button>
  </form>
</div>
